#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 40px;
    margin-right: 40px;   
    height: 100px;
}

.left-section {
    display: flex;
    align-items: center;

}

#header img {
    height: 50px;
}

nav > * {
    display: flex;
    list-style: none;
    margin-left: 50px;
    gap: 25px;
}

nav > ul > li {
    cursor: pointer;
}

#search-input {
    height: 35px;
    width: 300px;
    border-radius: 5px;
    border: none;
    padding: 5px 10px;
    font-size: 16px;
    color: white;
    background-color: #242424;
}

#user-icon {
    margin-left: 25px;
    cursor: pointer;
    border-radius: 5px;
    width: 50px;
    height: 35px;
}