#login-card-container {
    background-color: #000000cb;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 40px;
}

#login-card-container > div > h2 {
    margin-bottom: 20px;
    margin-top: 60px;
    text-align: center;
    color: white;
    margin-top: 20px;
    font-size: 35px;
}

#login-card-container form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#login-card-container form input {
    margin-top: 20px;
    background-color: #2D2D2D;
    color: #7e7e7e;
    width: 70%;
    height: 60px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
    padding: 0 10px;
    width: 20dvw;
}

#login-card-container form button {
    margin-bottom: 20px;
}

#submit {
    background-color: red;
    margin-top: 30px;
    border: none;
    width: 70%;
    color: white;
    font-size: 15px;
    font-weight: bold;
    border-radius: 5px;
    height: 60px;
    width: 20dvw;
}

.assine-agora {
    color: red;
}

.assine-agora:hover {
    cursor: pointer;
    text-decoration: underline;
}

#forgot-password {
    margin-bottom: 40px;
}

#forgot-password:hover {
    cursor: pointer;
    text-decoration: underline;
}
